<h1 class="title">a short story behind the project</h1>

<h2>meet the designer</h2>

<p>
  shrgrp.org is the output of master thesis research of guo yunhe, a student of
  aalto university.
</p>

<p>
  guo grows up in a small village in china. in his memory, life means people
  share resources and help each other. it doesn't only save money for poor
  families, but also bring neighbors closer. in an undeveloped environment,
  connections of individuals and families make life easier and not alone.
</p>

<p>
  moved to finland in 2014, he started a new life in a different environment.
  like most college students, he often moves from here to there. owning very few
  things, life is hard when he wants to install a lamp in the new apartment.
  he also feel lonely because he knows nobody in the neighborhoods.
</p>

<p>
  in 2016, guo moved to kilonrinne 10 student apartments. it is peaceful but
  a little boring. he has no school friends live nearby. by lending a wrench
  and repairing a computer, guo made some friends gradually. he found sharing
  and helping is a good opportunity to start a conversation with neighbors.
  people are kind, helpful and trustworthy. some are shy and afraid to bother
  others. but when they have to, they can find neighbors don't mind to give
  a hand.
</p>

<p>
  he decided he will create a service that helps people share and comunicate.
  this became his master thesis topic.
</p>

<h2>it is not about stuff but people</h2>

<p>
  the most amazing part of sharing services is not to save money or convenience.
  it is all about connections between people. sharing is a positive interaction.
</p>

<p>
  it is not about saving move or making money through sharing. it is a channel
  to spread the idea of sharing and neighborhood friendship. the way we do it is
  to increase the awareness that neighbors do want to help and you don't need to
  hesitate. sharing is not that one bothers another. it makes both sides feel
  good. positive interaction improve nighborhood relation and the local community
  will be more friendly and feel more like home.
</p>

<p>
  the project began in kilonrinne 10 &amp; kilokallio 10 student community.
  there are students from all around the world. students usually own fewer tools
  than locals, and they do not have enough money to buy everything they need.
  as generation x, they are more open for sharing and care more about others,
  community and environment.
</p>

<p>
  based on interviews with residents, people from different culture have very
  different understanding of neighborhood relations. local finnish prefer to
  not disturb others except some urgent situation. german and frence are more
  social and feel easy to ask help from neighbors. indian think knowing neighbors
  better is very valuable. in general, asian could easily make friends with
  compatriots but hardly have chance to talk with locals.
</p>

<p>
  there are many different sharing services in different places. some focus on
  convenience, some highlight safety and some advertise sustainability. in this
  project, the main concern is the relation and interaction between neighbors
  who are not familiar with each others. will they spend some time and efforts
  helping and talking with those they may not know before? we still do not know
  the answer.
</p>

<p>expected output of the project:</p>

<ol>
  <li>whether and how neighbor relations can be improved by sharing service</li>
  <li>the key challenge of sharing in this specific scenario</li>
  <li>the motivation of sharing</li>
</ol>

<h2>the future</h2>

<p>
  the project will continue if here are enough users like it. and it will be
  non-profit forever.
</p>

<p>
  in future, collaboration with organizations, like hoas, ayy, sato, would help
  shrgrp grow and become sustainable. a volunteer team will carry on the project,
  maintain the website and social media.
</p>

<p>
  probably the service mode of shrgrp doesn't fit other scenarios. we will carefully
  choose users and scenario we design for and avoid losing focus.
</p>

<p>guo yunhe</p>

<p>20.04.2017</p>
