<div *ngIf="group && open ">

  <h1 *ngIf="group._id">edit {{ group.name | lowercase }} group</h1>
  <h1 *ngIf="!group._id">create new group</h1>

  <form (ngSubmit)="onSubmit()" #groupForm="ngForm">

    <div class="form-group">
      <label>name</label>
      <input type="text" required [(ngModel)]="group.name" name="name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert">
        name is required
      </div>
    </div>

    <div class="form-group">
      <label>facebook group id</label>
      <input type="text" [(ngModel)]="group.facebookId" name="facebook_id" #fbid="ngModel">
    </div>

    <div class="form-group">
      <label>icon</label>
      <input type="file" (change)="upload($event)">
      <img width="400" height="150" [src]="group.cover || '/images/ph-cover.svg'">
    </div>

    <button type="submit" [disabled]="!groupForm.form.valid">submit</button>
  </form>
</div>
