extends layout

block content
  .container
    app

    h2 new group

    form#group-create-form(action='/groups', method='post')
      label url of facebook group
      input(name='url')
      button(type='submit') create

