doctype html
html
  head
    title= title
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Josefin+Slab:400,700')
    link(rel='stylesheet', href='/stylesheets/app.css')

    <script src="/node_modules/core-js/client/shim.min.js"></script>
    <script src="/node_modules/zone.js/dist/zone.js"></script>
    <script src="/node_modules/systemjs/dist/system.src.js"></script>
    <script src="/systemjs.config.js"></script>
    script System.import('main.js').catch(function(err){ console.error(err); });
  body
    header#app-header
      
        a(href="/"): img#logo(src='/images/logo.svg', width=128, height=128)
        .name: a(href="/") shrgrp
        .desc a local sharing community
        #me
          if (typeof me !== 'undefined')
            img.avatar(src=me.avatar, width=80, height=80)
          else
            a#login-button(href='/auth/facebook') login with facebook

    block content

    footer#app-footer
      span &copy; 2017 shrgrp team. a non-profit project. made in aalto arts.
      |
      |
      a(href='https://fb.me/shrgrp.org', target='_blank') like us
      |
      |
      a(href='https://m.me/shrgrp.org', target='_blank') contact us
