doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title shrgrp: share things &amp; make friends
    base(href='/')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Titillium+Web:200,400,700,900')
  body
    header#header

      a.logo-wrap(href='/'): img.logo(src='/images/logo.svg', width=128, height=128)

      .text-wrap
        .name: a(href='/') shrgrp
        .desc share things &amp; make friends

    block content

    footer#footer
      p.info &copy; 2017 shrgrp, a non-profit project made in aalto.
      ul.links
        li: a(href='https://fb.me/shrgrp.org', target='_blank') like us
        li: a(href='https://m.me/shrgrp.org', target='_blank') contact us

    //- Put scripts at end to avoid blocking content rendering
    script(src='/node_modules/core-js/client/shim.min.js')
    script(src='/node_modules/zone.js/dist/zone.js')
    script(src='/node_modules/systemjs/dist/system.src.js')
    script(src='/systemjs.config.js')
    script System.import('main.js').catch(function(err){ console.error(err); });
