// view: public/app/app-component.ts

#navbar
  display: flex
  margin-bottom: 20px
  text-align: center

  a
    display: block
    flex: 1 1 100px
    padding: 4px 8px
    text-decoration: none

    &.active
      color: inherit
      background: url('/images/bg-stripe.svg')
