thing-detail
  display: block
  position: relative
  flex: 1 1 200px
  margin-bottom: 20px
  padding: 10px
  text-align: center

  .thing
    .icon
      display: block
      width: 100px
      height: 100px
      margin: 0 auto 20px auto

    .name
      border-top: 1px dashed #000
      border-bottom: 1px dashed #000

  .friends
    list-style: none
    height: 50px
    overflow: hidden
    padding: 0
    margin: 10px 0

    .friend
      display: inline-block
      width: 50px
      padding: 0 5px

      .avatar
        width: 50px
        height: 50px
        border-radius: 99px

  .share-this
    display: block
    width: 150px
    margin: 10px auto
    padding: 3px 6px
    border-radius: 3px
    cursor: pointer
    background: #eeeeee

    &.active
      background: #5fb32c
      color: #fff

    input
      display: none
