body
  padding: 0
  font-size: 18px
  font-family: 'Josefin Slab', serif
  background: #fff

h1, h2, h3, h4, h5, h6
  font-weight: normal

a
  color: #00B7FF

header#app-header
  text-align: center

  .name
    font-size: 32px
  #me
    margin: 20px 0

    .avatar
      border-radius: 999px

footer#app-footer
  text-align: center
  padding: 30px 10px

.container
  max-width: 960px
  padding: 0 10px
  margin: auto
